<figure>
    <img src="/assets/images/speakers/400x375/{{ speaker_image }}-xlarge.jpg" width="400" height="375" alt="{{ speaker_name }}" />
    <figcaption>
      <h1>
      {{ speaker_name }}
      {% if speaker_twitter != null %}
      <a class="twitter-bird" href="http://www.twitter.com/{{ speaker_twitter }}" title="{{ speaker_name }} sur twitter" target="_blank"><span class="shy">twitter</span></a>
      {% endif %}
      </h1>
    </figcaption>
</figure>
<div class="content" data-shareURL="http://{{ app.request.host }}/horaire/{{ start | dateTime("%A") }}/{{ slug }}-{{ id }}">
    <h2>{{ name }}</h2>
    <span class="time"><time itemprop="startDate" datetime="{{ start | dateTime("%Y-%m-%dT%H:%M:00") }}">{{ start | dateTime("%A le %e %B, de %l h %M") }}</time> à <time itemprop="endDate" datetime="{{ end|dateTime("%Y-%m-%dT%H:%M:00") }}">{{ end|dateTime("%l h %M") }}</time></span>
    <span class="room">{% if room_name != "Grand Hall" %}Salle {% endif %}{{ room_name }}</span>
    <div id="scrollbar1" class="desc-wrap">
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
            <div class="overview">
                {% if description is defined and description is not null %}
                    {{ description|raw }}
                {% else %}
                    <p>Détails à venir</p>
                {% endif %}
              
                {% if questions is defined and questions is not null %}
                    <h2>Les trois principales questions auxquelles la présentation répondra</h2>
                    {{ questions|raw }}
                {% endif %}
              
                {% if speaker_bio != null %}
                    {% if is_panel == '1' %}
                        {{ speaker_bio|raw }}
                    {% else %}
                        <h2>Biographie</h2>
                        {{ speaker_bio|raw }}
                    {% endif %}
                {% endif %}
                
              <div class="bio-meta">
                  {% if speaker_entreprise != null %}
                  <span><strong>Entreprise</strong>: {{ speaker_entreprise }}</span>
                  {% endif %}
                
                  {% if speaker_title != null %}
                  <span><strong>Titre</strong>: {{ speaker_title }}</span>
                  {% endif %}
              
                  {% if speaker_website != null %}
                  <span><strong>Site web</strong>: <a href="{{ speaker_website }}" target="_blank">{{ speaker_website }}</a></span>
                  {% endif %}
              </div>
              
            </div>
        </div>
    </div>
    
</div>
