<div class="conference">
    <a href="/horaire/{{ start | dateTime("%A") }}/{{ slug }}-{{ id }}" class="white room-{{ room }}" data-id="{{ id }}">
        <span class="place">Grand Hall</span>
        <div class="info">
            <figure itemprop="performer" itemscope itemtype="http://schema.org/Person">
                <img class="speaker-thumb" src="/assets/images/speakers/200x188/{{ img }}-large.jpg" width="200" height="188" alt="{{ performer }}" itemprop="image" />
                <figcaption><h2 itemprop="name">{{ performer }}</h2></figcaption>
            </figure>
            <span itemprop="description">{{ name | limitTitle | raw }}</span>
            <span class="time"><time itemprop="startDate" datetime="{{ start | dateTime("%Y-%m-%dT%H:%M:00") }}">{{ start | dateTime("%Hh%M") }}</time> à <time itemprop="endDate" datetime="{{ end|dateTime("%Y-%m-%dT%H:%M:00") }}">{{ end|dateTime("%Hh%M") }}</time></span>
            {% if sponsors[sponsorId] is defined %}
                <span class="sponsor">
                    {{ sponsors[sponsorId].presentation }}
                    <img src="/assets/images/sponsors/medias/{{ sponsors[sponsorId].logo }}.png"  alt="{{ sponsors[sponsorId].name }}" />
                </span>
            {% endif %}
        </div>
    </a>
</div>