{% extends 'layout.html.twig' %}

{% block javascripts %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="/assets/javascripts/libs/sammy.js"></script>
<script src="/assets/javascripts/libs/libs.js"></script>
<script src="/assets/javascripts/maps.js"></script>
<script src="/assets/javascripts/global.js"></script>
{% endblock %}

{% block body %}
<nav role="navigation" id="main-nav">
    <div class="width">
        <span class="left">
            <a class="small-logo" href="#/accueil/"><span class="shy">WAQ</span></a>
            <a class="inscription" href="http://webaquebec2013.eventbrite.ca/">Inscrivez-vous</a>
        </span>
        <a href="http://ironweb.org/" class="iron-web"><span class="shy">Iron web</span>&nbsp;</a>
        <ul id="nav-wrap">
          <li><a href="#/horaire/">Horaire</a></li>
          <li><a href="#/lieu-et-infos/">Lieu et infos</a></li>
          <li><a href="#/partenaires/">Partenaires</a></li>
          <li><a href="#/a-propos/">À propos</a></li>
        </ul>
    </div>
</nav>

<div id="one-pager">
    <div id="accueil" data-section>
        {% include 'includes/header.html.twig' %}

        <div id="slider">
            <span class="texture-mask"></span>
            <span class="mask"></span>
            <div class="slider-info">
                <span itemprop="description">
                    Trois jours de rencontres<br>
                    par et pour les gens<br>
                    qui imaginent le web
                </span>
                <div class="desc-nav-wrap">
                    <span class="slider-nav"></span>
                    <span class="descs"></span>
                </div>
            </div>
            <div class="slides-wrap">
                <div id="slide01" class="slide" data-desc="design, ux, data, commerce électronique, médias sociaux, mobile, dev, objet connecté, société numérique, marketing, startup"><img src="/assets/images/slider/slide-01.jpg" width="1140" height="420"  alt=" " /></div>
            </div>

            <div class="subscribe">
              <strong>Inscrivez-vous!</strong>
              <a class="blue-btn" href="http://webaquebec2013.eventbrite.ca/"><span>595$</span> tarif régulier jusqu'à épuisement des places</a>
            </div>
        </div>{# #slider #}
    </div> {# #home #}
    <section id="horaire" data-section>
        <h1 class="h2">Horaire</h1>
        <ul id="schedule-nav">
            <li><a href="#/horaire/mercredi/" data-ref="mercredi">mercredi 20 février</a></li>
            {% for date, dateData in sessions if dateData.day | dateTime("%A") != "mercredi" %}
                <li><a href="#/horaire/{{ dateData.day | dateTime("%A") }}/" data-ref="{{ dateData.day | dateTime("%A") }}"{% if today | dateTime("%Y-%m-%d") == dateData.day | dateTime("%Y-%m-%d") %} class="active"{% endif %}>{{ dateData.day | dateTime("%A %d %B") }}</a></li>
            {% endfor %}
        </ul>
        <div id="schedule">
            <ul id="rooms-name">
                {% for room in rooms if room.id != 6%}
                    <li id="room-{{ room.id }}">Salle {{ room.name }}</li>
                {% endfor %}
            </ul>
            <span class="shadow-top"></span>
            <div class="wrapper">
                <div id="schedule-wrap">
                    <div id="time-zone">
                        <span id="mercredi-lines" class="active">
                            <span class="time t7h15"><span>8h30</span></span>
                            <span class="time t8h15"><span>11h45</span></span>
                            <span class="time t8h30"><span>13h15</span></span>
                            <span class="time t9h30"><span>16h30</span></span>
                            <span class="time t10h15"><span>19h00</span></span>
                            <span class="time t11h45"><span>20h30</span></span>
                        </span>

                        {% for date, dateData in sessions if dateData.day | dateTime("%A") != "mercredi" %}
                            <span id="{{ dateData.day | dateTime("%A") }}-lines"{% if dateData.day | dateTime("%A") == "mercredi" %} class="active"{% endif %}>
                                {% for line in lines[date] %}
                                    <span class="time t{{ line }}"><span>{{ line }}</span></span>
                                {% endfor %}
                            </span>
                        {% endfor %}
                    </div>
                    <div class="slides-wrap">
                        <div id="mercredi" class="slide">
                            <span class="lines">
                                <span class="t7h15"></span>
                                <span class="t8h15"></span>
                                <span class="t8h30"></span>
                                <span class="t9h30"></span>
                                <span class="t10h15"></span>
                                <span class="t11h45"></span>
                            </span>
                            <span id="separators"><span></span><span></span><span></span><span></span></span>
                            <div class="conferences t7h15 t90m">
                                <div class="col">

                                    {% include 'includes/master-class.html.twig' with {
                                        id        : 73,
                                        slug      : "html5-windows-8-amis-avec-benefices",
                                        duration  : 135,
                                        line      : "7h15",
                                        performer : "Frédéric Harper",
                                        img       : "frederic_harper",
                                        name      : "HTML5 & Windows 8: amis avec bénéfices",
                                        time      : "<span>8h30 à 11h45</span><span>13h15 à 16h30</span>",
                                        room      : 1,
                                        limit     : 50,
                                        price     : 160,
                                        start     : 1361344500
                                    } %}

                                </div>
                                <div class="col">

                                    {% include 'includes/master-class.html.twig' with {
                                        id        : 75,
                                        duration  : 135,
                                        line      : "7h15",
                                        performer : "Jean-Daniel Cryans",
                                        img       : "jean-daniel_cryans",
                                        name      : "Introduction au Big Data avec Hadoop et HBase",
                                        slug      : "introduction-au-big-data-avec-hadoop-et-hbase",
                                        time      : "<span>8h30 à 11h45</span><span>13h15 à 16h30</span>",
                                        room      : 2,
                                        limit     : 50,
                                        price     : 160,
                                        start     : 1361344500
                                    } %}

                                </div>
                                <div class="col">
                                    <span class="empty t7h15" style="height:180px;"></span>
                                    {% include 'includes/gouv-camp.html.twig' with {
                                        id        : 74,
                                        duration  : 75,
                                        line      : "13h00",
                                        performer : "GouvCamp",
                                        img       : "egouv",
                                        name      : "GouvCamp en collaboration avec E-Gouv Québec",
                                        slug      : "gouvcamp-en-collaboration-avec-e-gouv-quebec",
                                        time      : "<span>13h00 à 16h00</span>",
                                        room      : 3,
                                        limit     : 60,
                                        price     : "Gratuit",
                                        start     : 1361365200
                                    } %}
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="break t9h30 t45m">
                                <span class="type">5 à 7 de lancement</span>
                                <div class="sponsor">
                                    <span>Cocktail dînatoire offert par</span>
                                    <img src="/assets/images/sponsors/partners/mirego.png"  alt="Mirego" />
                                </div>
                            </div>
                            <div class="row t10h15 t90m">
                                {% include 'includes/conference-full.html.twig' with {
                                    id          : 76,
                                    slug        : "content-and-chrome",
                                    performer   : "Mike Kruzeniski",
                                    img         : "mike_kruzeniski",
                                    name        : "Content & Chrome",
                                    room        : 6,
                                    start       : 1361386800,
                                    end         : 1361392200,
                                    sponsors    : null,
                                    sponsorId   : null
                                } %}

                            </div>
                        </div>
                        {% for date, dateData in sessions %}
                            {% if dateData.day | dateTime("%A") != "mercredi" %}
                                <div id="{{ dateData.day | dateTime("%A") }}" class="slide{% if today | dateTime("%Y-%m-%d") == dateData.day | dateTime("%Y-%m-%d") %} active{% endif %}">
                                    <span id="separators">{% for room in rooms if room.id != 6 %}<span></span>{% endfor %}</span>
                                    <span class="lines">
                                        {% for line in lines[date] %}
                                            <span class="t{{ line }}"></span>
                                        {% endfor %}
                                    </span>

                                    {% for blockData in dateData.blocks %}
                                        {% if blockData.session is defined %}
                                            {% if blockData.session.break %}
                                                <div class="break t{{ blockData.session.line }} t{{ blockData.size }}m">
                                                    <span class="type">{{ blockData.session.name }}</span>
                                                    {% if blockData.session.sponsor_id is defined and  blockData.session.sponsor_id is not null %}
                                                        {% set sponsor_id = blockData.session.sponsor_id %}
                                                        <div class="sponsor">
                                                            <span>{{ sponsors[sponsor_id].presentation }}</span>
                                                            {% if sponsors[sponsor_id].logo is defined and sponsors[sponsor_id].logo is not null %}
                                                                <img src="/assets/images/sponsors/schedule/{{ sponsors[sponsor_id].logo }}.png"  alt="{{ sponsors[sponsor_id].name }}" />
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <div class="row t{{ blockData.session.line }} t{{ blockData.size }}m" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">

                                                    {% include 'includes/conference-full.html.twig' with {
                                                        id          : blockData.session.id,
                                                        slug        : blockData.session.slug,
                                                        performer   : speakers[blockData.session.speaker_id].name,
                                                        img         : speakers[blockData.session.speaker_id].image,
                                                        name        : blockData.session.name,
                                                        room        : blockData.session.room_id,
                                                        start       : blockData.session.start,
                                                        end         : blockData.session.end,
                                                        sponsors    : sponsors,
                                                        sponsorId   : blockData.session.sponsor_id
                                                    } %}

                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="conferences t{{ blockData.line }} t{{ blockData.size }}m">
                                                {% for roomId, sessions in blockData.list %}
                                                    <div class="col">
                                                        {% for session in sessions %}
                                                          {% if session.empty %}
                                                            <span class="empty t{{ session.line }} t{{ session.duration }}m" ></span>
                                                          {% else %}
                                                            {% include 'includes/conference-thumb.html.twig' with {
                                                                id        : session.id,
                                                                slug      : session.slug,
                                                                duration  : session.duration,
                                                                line      : session.line,
                                                                performer : speakers[session.speaker_id].name,
                                                                img       : speakers[session.speaker_id].image,
                                                                name      : session.name,
                                                                room      : session.room_id,
                                                                start     : session.start
                                                            } %}
                                                          {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> {# #schedule-wrap #}
            </div> {# .wrapper #}
            <span class="shadow-bottom"></span>
            <span id="open-shedule"><a href="javascript://">Tout afficher</a></span>
        </div>
    </section>{# #horaire #}


    <section id="lieu-et-infos" data-section>
        <h1 class="h2">Lieu et infos</h1>
        <div id="gmap"></div>
    </section>
    <section id="partenaires" class="sponsors listing" data-section>

        {% include 'includes/partners.html.twig' %}

    </section>
    <section id="a-propos" data-section>

        {% include 'includes/team.html.twig' %}

    </section>
  </div>

{% endblock %}