{% extends 'layout.html.twig' %}

{% block javascripts %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="/assets/javascripts/libs/sammy.js"></script>
<script src="/assets/javascripts/libs/libs.js"></script>
<script src="/assets/javascripts/global.js"></script>
{% endblock %}

{% block body %}
<nav role="navigation" id="main-nav">
    <div class="width">
        <span class="left">
            <a class="small-logo" href="#/accueil/"><span class="shy">{% trans %}WAQ{% endtrans %}</span></a>
            <a class="inscription" href="{# FIXME #}#">{% trans %}Inscrivez-vous{% endtrans %}</a>
        </span>
        <a href="{# FIXME #}#" class="iron-web"><span class="shy">{% trans %}Iron web{% endtrans %}</span>{% trans %}Deloitte{% endtrans %}</a>
        <ul id="nav-wrap">
          <li><a href="#/horaire/">{% trans %}Horaire{% endtrans %}</a></li>
          <li><a href="#/lieu-et-infos/">{% trans %}Lieu et infos{% endtrans %}</a></li>
          <li><a href="#/partenaires/">{% trans %}Partenaires{% endtrans %}</a></li>
          <li><a href="#/a-propos/">{% trans %}À propos{% endtrans %}</a></li>
        </ul>
    </div>
</nav>

<div id="one-pager">
    <div id="accueil" data-section>

        {% include 'includes/header.html.twig' %}

        <div id="slider">
            <span class="texture-mask"></span>
            <span class="mask"></span>
            <div class="slider-info">
                <span itemprop="description">
                    {% trans %}Trois jours de rencontres{% endtrans %}<br>
                    {% trans %}par et pour les gens{% endtrans %}<br>
                    {% trans %}qui imaginent le web{% endtrans %}
                </span>
                <div class="desc-nav-wrap">
                    <span class="slider-nav"></span>
                    <span class="descs"></span>
                </div>
            </div>
            <div class="slides-wrap">
                <div id="slide01" class="slide" data-desc="{% trans %}ux \ design web \ mobile \ médias sociaux \ données ouvertes \ seo \ css3 \ html5{% endtrans %}"><img src="/assets/images/slider/slide-01.jpg" width="1140" height="420"  alt=" " /></div>
                <div id="slide02" class="slide" data-desc="This is another awesome desc ... lorem ipsum dolor sit amet, consectetur."><img src="/assets/images/slider/slide-02.jpg" width="1140" height="420" alt=" " /></div>
            </div>
        </div>{# #slider #}
    </div> {# #home #}
    <section id="horaire" data-section>
        <h1 class="h2">{% trans %}Horaire{% endtrans %}</h1>
        <ul id="schedule-nav">
            {% for date, dateData in sessions %}
                <li><a href="#/horaire/{{ dateData.day | dateTime("%A") }}/" data-ref="{{ dateData.day | dateTime("%A") }}">{{ dateData.day | dateTime("%A %d %B") }}</a></li>
            {% endfor %}
        </ul>
        <div id="schedule">
            <ul id="rooms-name">
                {% for room in rooms if room.id != 6 %}
                    <li id="room-{{ room.id }}">Salle {{ room.name }}</li>
                {% endfor %}
            </ul>
            <span class="shadow-top"></span>
            <div class="wrapper">
                <div id="schedule-wrap">
                    <div id="time-zone">
                        {% for date, dateData in sessions %}
                            <span id="{{ dateData.day | dateTime("%A") }}-lines">
                                {% for line in lines[date] %}
                                    <span class="time t{{ line }}"><span>{{ line }}</span></span>
                                {% endfor %}
                            </span>
                        {% endfor %}
                    </div>
                    <div class="slides-wrap">
                        {% for date, dateData in sessions %}
                            <div id="{{ dateData.day | dateTime("%A") }}" class="slide">
                                
                                <span id="separators">{% for room in rooms if room.id != 6 %}<span></span>{% endfor %}</span>
                                <span class="lines">
                                    {% for line in lines[date] %}
                                        <span class="t{{ line }}"></span>
                                    {% endfor %}
                                </span>

                                {% for blockData in dateData.blocks %}
                                    {% if blockData.session is defined %}
                                        {% if blockData.session.break %}
                                            <div class="break t{{ blockData.session.line }} t{{ blockData.size }}m">
                                                <span class="type">{{ blockData.session.name }}</span>
                                            </div>
                                        {% else %}
                                            <div class="row t{{ blockData.session.line }} t{{ blockData.size }}m" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
                                                {% include 'includes/conference-full.html.twig' with {
                                                    id        : blockData.session.id,
                                                    slug      : blockData.session.slug,
                                                    performer : speakers[blockData.session.speaker_id].name,
                                                    img       : "/assets/images/performers/" ~ speakers[blockData.session.speaker_id].image,
                                                    desc      : blockData.session.description,
                                                    room      : blockData.session.room_id,
                                                    start     : blockData.session.start,
                                                    end       : blockData.session.end
                                                } %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="conferences t{{ blockData.line }} t{{ blockData.size }}m">
                                            {% for roomId, sessions in blockData.list %}
                                                <div class="col">
                                                    {% for session in sessions %}
                                                        {% include 'includes/conference-thumb.html.twig' with {
                                                            id        : session.id,
                                                            slug      : session.slug,
                                                            duration  : session.duration,
                                                            line      : session.line,
                                                            performer : speakers[session.speaker_id].name,
                                                            img       : "/assets/images/performers/" ~ speakers[session.speaker_id].image,
                                                            desc      : session.description,
                                                            room      : session.room_id,
                                                            start     : session.start
                                                        } %}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div> {# #schedule-wrap #}
            </div> {# .wrapper #}
            <span class="shadow-bottom"></span>
            <span id="open-shedule"><a href="javascript://">{% trans %}Tout afficher{% endtrans %}</a></span>
        </div>
    </section>{# #horaire #}
    
    
    <section id="lieu-et-infos" data-section>
        <h1 class="h2">{% trans %}Lieu et infos{% endtrans %}</h1>
        <div id="gmap"></div>
    </section>
    <section id="partenaires" class="listing" data-section>
        <h1 class="h2">{% trans %}Partenaires{% endtrans %}</h1>
        <div class="group">
            <h2>{% trans %}Principaux{% endtrans %}</h2>
            <ul class="list">
                <li><img src="/assets/images/sponsors/redbull.gif"  alt="{% trans %}RedBull{% endtrans %}" /></li>
            </ul>
        </div>
        <div class="group">
            <h2>{% trans %}Associés{% endtrans %}</h2>
            <ul class="list">
                <li><img src="/assets/images/sponsors/redbull.gif"  alt="{% trans %}RedBull{% endtrans %}" /></li>
            </ul>
        </div>
        <div class="group">
            <h2>{% trans %}Supporteurs{% endtrans %}</h2>
            <ul class="list">
                <li><img src="/assets/images/sponsors/redbull.gif"  alt="{% trans %}{RedBull{% endtrans %}" /></li>
            </ul>
        </div>
        <div class="group">
            <h2>{% trans %}Médias et collaborateurs{% endtrans %}</h2>
            <ul class="list">
                <li><img src="/assets/images/sponsors/redbull.gif"  alt="{% trans %}RedBull{% endtrans %}" /></li>
            </ul>
        </div>
    </section>
    <section id="a-propos" data-section>
        <h1 class="h2">{% trans %}À propos{% endtrans %}</h1>
        <div class="intro">
            <div class="desc">
                <h2>{% trans %}Par et pour les gens{% endtrans %}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="benevoles">
                <h2>{% trans %}Des bénécoles essentiels{% endtrans %}</h2>                    
                <p>{% trans %}Un merci tout spécial à notre équipe du tonnerre !<{% endtrans %}/p>
                <ul>
                    <li><span>Luc Vaillancourt</span></li>
                    <li><span>Alain Léveillé-Simard</span></li>
                    <li><span>Audrey-Ève Dalh</span></li>
                    <li><span>Luc Vaillancourt</span></li>
                    <li><span>Félix Lapointe</span></li>
                    <li><span>Luc Vaillancourt</span></li>
                    <li><span>Audrey-Ève Dalh</span></li>
                    <li><span>Luc Vaillancourt</span></li>
                    <li><span>Félix Lapointe</span></li>
                    <li><span>Alain Léveillé-Simard</span></li>
                    <li><span>Luc Vaillancourt</span></li>
                    <li><span>Alain Léveillé-Simard</span></li>
                    <li><span>Audrey-Ève Dalh</span></li>
                </ul>
            </div>
        </div>
        <div id="team" class="listing">
            <div class="group">
                <h2>{% trans %}Comité programmation{% endtrans %}</h2>
                <div class="list"> 
                    <figure itemprop="attendees" itemscope itemtype="http://schema.org/Person">
                        <img itemprop="image" src="http://cageme.herokuapp.com/g/80/80" alt="Nicolas Cage" />
                        <figcaption itemprop="name">Nicolas Cage</figcaption>
                    </figure>
                </div>
            </div>
            <div class="group">
                <h2>{% trans %}Comité opérations et logistique{% endtrans %}</h2>
            </div>
            <div class="group">
                <h2 style="margin-top: 29px;">{% trans %}Comité IRON WEB{% endtrans %}</h2>
            </div>
            <div class="group">
                <h2>{% trans %}Conseil d’administration{% endtrans %}<br>{% trans %}et permanence{% endtrans %}</h2>
            </div>
        </div>
    </section>
  </div>

{% endblock %}